service_account_key_file = "SERVICE_ACC_KEY_FILE"
cloud_id                 = "CLOUD_ID"
folder_id                = "FOLDER_ID"
zone                     = "ru-central1-a"
public_key_path          = "PUBLIC_KEY_PATH"
private_key              = "PRIVATE_KEY_PATH"

count_of_inst            = 2
subnet_id                = "SUBNET_ID"

service_account_name    = "SERVICE_ACC_NAME"
key_id                  = ""
service_account_id      = "SERVICE_ACC_ID"
node_service_account_id = "SERVICE_ACC_ID"
release_channel         = "RAPID"
kube_version            = "1.19"
cluster_description     = "New cluster"
cluster_name            = "aea01-kube-cluster"
placement_group_id      = ""
